body{
    background-color: lightgoldenrodyellow;
    font-family: Arial, sans-serif;
}

h1{
    color: maroon;
    background-color: goldenrod
}

h2{
    color:maroon;
}

p{
    text-align: justify;
}