@charset "UTF-8";
/* Em HTML é id em CSS é # 
    Em HTML é class em CSS é .
*/
body{
    background-color:  rgb(206, 205, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(4, 109, 0);
}

#principal{
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}

h2{
    color: rgb(73, 109, 71);
}

.basico{
     color: rgb(42, 128, 30);
}

.intermediario{
     color: rgb(131, 133, 34);
}

.avancado{
     color: rgb(241, 42, 42);
}